* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* FONTS */
/* font-family: amador,sans-serif;
font-weight: 400;
font-style: normal; */

body {
  font-family: amador, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #887777;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3em;
}

.logo img {
  height: 50vh;
}

.houses {
  display: flex;
  justify-content: center;
}

.house img {
  height: 20vh;
}

.line {
  border-top: 2px solid black;
  margin: 5px 15vw 5px 15vw;
}

.current {
  display: flex;
  justify-content: center;
  text-align: center;
}

.current-students {
  margin-right: 20px;
}

#list {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e3d9cd;
  padding: 10px;
}

#list thead {
  padding-bottom: 15px;
  text-align: left;
}

#list tbody {
  font-family: "Courier New", Courier, monospace;
}

.table-header th {
  padding-bottom: 10px;
}

#profile {
  cursor: pointer;
}

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;

  max-width: inherit;
  margin: 0 auto;
  z-index: 2;
}

.popup_article {
  border-radius: 20px;
  width: 80vw;
  height: 60vh;
  margin: 4rem auto;
  background-color: beige;

  display: flex;
  padding: 30px;
  position: relative;
}

.col1 {
  flex: 1;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interface-buttons {
  display: flex;
  flex-direction: column;
}

#close {
  position: fixed;
  top: 3em;
  right: 9em;
  height: 22px;
  width: 40px;
  color: black;
  padding: 1em;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;

  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.hide {
  display: none;
  visibility: hidden;
}

.grey1 {
  filter: grayscale(100%);
}
.grey {
  filter: grayscale(100%);
  cursor: pointer;
}

.grey:hover {
  filter: grayscale(0%);
}

.color {
  filter: grayscale(0%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal article {
  box-shadow: 1px 1px 10px rgb(25, 25, 25);
  padding: 2em;
  border-radius: 10px;
  background-color: #e3d9cd;
  position: relative;
}

.dialog {
  box-shadow: 1px 1px 10px rgb(25, 25, 25);
  padding: 2em;
  border-radius: 10px;
  background-color: whitesmoke;
}

.closebutton {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.gryffindor {
  background-color: rgb(190, 79, 79);
  border: 2px solid orange;
}

.hufflepuff {
  background-color: rgb(208, 208, 153);
  border: 2px solid black;
}
.slytherin {
  background-color: rgb(132, 169, 132);
  border: 2px solid black;
}
.ravenclaw {
  background-color: rgb(144, 113, 113);
  border: 2px solid black;
}

/* HACKED */
.hackedColor {
  background-color: lightgreen;
  opacity: 0.5;
}
.hacked1,
.hacked2,
.hacked3 {
  font-size: 6rem;
  position: fixed;
  top: 15rem;
  left: 0rem;
  text-align: center;
  width: 100%;
  pointer-events: none;
}
